.home {
  width: 100%;
  min-height: 100vh;
  position: relative;

  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.home > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.home > div {
  width: 50%;
}

.home-left {
  padding: 0 0 60px 80px;
}
.home-left p {
  padding: 5px;
}

.home-left p:nth-child(2) {
  color: var(--text2);
  font-size: 150px;
  font-family: 'Bellefair';
  text-transform: uppercase;
}
.home-left p:nth-child(1) {
  font-size: 28px;
  font-family: 'Barlow Condensed';
  text-transform: uppercase;
}
.home-left p:nth-child(3) {
  font-size: 18px;
  font-family: 'Barlow';
  line-height: 32px;
  margin-top: 15px;
  word-wrap: break-word;
  width: 80%;
}

.home-left p:nth-child(1),
.home-left p:nth-child(3) {
  color: var(--text1);
}

.home-right a {
  float: right;
  border: none;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  font-size: 32px;
  font-family: 'Bellefair';
  color: var(--dark);
  background-color: var(--text2);
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 60px 60px 0;
  transition: ease-in-out 0.2s;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-right a:hover {
  outline: 60px solid rgba(255, 255, 255, 0.1);
}

/* R E S P O N S I V E */

@media (max-width: 1000px) {
  .home-left p:nth-child(1) {
    font-size: 20px;
  }
  .home-left p:nth-child(2) {
    font-size: 110px;
  }
  .home-left p:nth-child(3) {
    font-size: 14px;
    margin-top: 10px;
  }

  .home-right a {
    width: 180px;
    height: 180px;
    font-size: 26px;  
  }
}

/* Tablet */

@media (max-width: 768px) {
  .home {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }

  .home-left {
    padding: 100px 0 0;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-left p:nth-child(3) {
    width: 60%;
    line-height: 26px;
  }

  .home-right {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
  .home-right a {
    margin: 80px 0 0;
  }
  .home-right a:hover {
    outline: 40px solid rgba(255, 255, 255, 0.1);
  }
}

/* Mobile */

@media (max-width: 375px) {
  .home-left {
    padding-top: 60px;
  }
  .home-left p:nth-child(1) {
    font-size: 16px;
  }
  .home-left p:nth-child(2) {
    font-size: 60px;
  }
  .home-left p:nth-child(3) {
    font-size: 12px;
    margin-top: 10px;
  }

  .home-right a {
    width: 140px;
    height: 140px;
    font-size: 22px;  
    margin-top: 40px;
  }
  .home-right a:hover {
    outline: 20px solid rgba(255, 255, 255, 0.1);
  }
}