.header {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.header img {
  margin-left: 30px;
}

.header hr {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 140px;
  z-index: 2;
  width: 33%;
  height: 1px;
  border: none;
  background-color: white;
  opacity: 0.25;
}

.sandwitch {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  width: 24px;
  margin-right: 20px;
  cursor: pointer;
}
.sandwitch div {
  width: 24px;
  height: 3px;
  background-color: var(--text1);
  transition: ease-in-out 0.3s;
}
.opened div:nth-child(2) {
  opacity: 0;
}
.opened div:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-4px, 7px);
  transform: rotate(-45deg) translate(-4px, 7px);
}
.opened div:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-5px, -8px);
  transform: rotate(45deg) translate(-5px, -8px);
}

.header nav {
  display: flex;
  align-items: center;
  padding: 0 140px 0 50px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
}
.header nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Barlow Condensed';
  letter-spacing: 2px;
  margin: 0 30px;
  padding: 30px 0;
}
.header nav a span {
  font-weight: 700;
  font-family: 'Barlow Condensed';
}
.header nav a.active {
  box-shadow: inset 0 -4px 0 0 white;
}
.header nav a:hover  {
  box-shadow: inset 0 -4px 0 0 rgba(255, 255, 255, 0.5);
}

/* R E S P O N S I V E */

@media (max-width: 1000px) {
  .header nav {
    padding: 0 80px 0 20px;
  }
  .header nav a {
    margin: 0 20px;
  }
}

/* Tablet */

@media (max-width: 768px) {
  .header {
    top: 0;
  }

  .header nav {
    padding: 0 30px;
  }

  .header nav a {
    margin: 0 15px;
    font-size: 14px;
    letter-spacing: 1px;
  }

  .header img {
    margin-left: 10px;
  }
}

@media (max-width: 575px) {
  .header nav {
    padding: 0 10px;
  }

  .header nav a {
    margin: 0 10px;
    font-size: 12px;
  }
}

/* Mobile */

@media (max-width: 375px) {
  .header {
    padding-top: 10px;
  }
  .header nav {
    display: none;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 250px;
    height: 100vh;
    right: -250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: ease-in-out 0.3s;
  }
  .header nav a:first-child {
    margin-top: 100px;
  }
  .header nav a,
  .header nav a.active {
    width: 100%;
    box-shadow: none !important;
  }
  .sandwitch {
    display: flex;
  }
}