.destination {
  width: 100%;
  height: 100vh;

  position: relative;

  display: flex;
  align-items: flex-start;
  padding-top: 160px;
}

.destination > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.destination > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destination-left p {
  color: var(--text2);
  text-transform: uppercase;
  font-size: 28px;
  font-family: 'Barlow Condensed';
}
.destination-left p span {
  color: rgba(255, 255, 255, 0.25);
  margin-right: 15px;
}
.destination-left img {
  margin-top: 60px;
  width: 50%;
  object-fit: cover;
}

.destination-right {
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

.destination ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.destination-right ul li {
  display: inline-block;
  list-style: none;
  margin-left: 40px;
  padding-bottom: 12px;
  font-size: 16px;
  font-family: 'Barlow Condensed';
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: var(--text2);
  cursor: pointer;
  transition: ease-out 0.2s;
}
.destination-right ul li:hover {
  box-shadow: inset 0 -3px 0 0 rgba(255, 255, 255, 0.25);
}
.destination-right ul li:nth-child(1) {
  margin: 0 !important;
}
.destination-right ul li.active {
  box-shadow: inset 0 -3px 0 0 var(--text2);
}

.name-p {
  font-size: 100px;
  font-family: 'Bellefair';
  text-transform: uppercase;
  color: var(--text2);
  margin-top: 20px;
}

.description-p {
  font-size: 18px;
  font-family: 'Barlow';
  line-height: 32px;
  color: var(--text1);
  max-width: 60%;
}

.destination-right hr {
  border: none;
  height: 1px;
  background-color: #383B4B;
  width: 60%;
  margin: 30px 0 20px 0;
}

.more-info-div {
  display: flex;
}

.more-info-div div:nth-child(2) {
  margin-left: 40px;
}

.more-info-div div p:nth-child(1) {
  color: var(--text1);
  font-size: 14px;
  font-family: 'Barlow Condensed';
  line-height: 17px;
  text-transform: uppercase;
}
.more-info-div div p:nth-child(2) {
  font-size: 28px;
  font-family: 'Bellefair';
  text-transform: uppercase;
  margin-top: 10px;
  color: var(--text2);
} 