:root {
  --text1: #D0D6F9;
  --text2: #FFFFFF;
  --dark: #0B0D17;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;

  margin: auto;
}